<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Навигационное меню -->
    @Html.Partial("_Navigation")

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>